#services img {
  height: 160px;
  width: 200px;
}
.img {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
section {
  scroll-margin-top: 80px;
}

body {
  font-family: "Poppins", sans-serif;
}

.header-section {
  background: url("/projecttoko/Toko_Buah/images/bg.jpg") no-repeat center
    center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
