#services img{
    height: 160px;
    width: 200px;
}
.img{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
section {
    scroll-margin-top: 80px; 
  }
  

  body {
    font-family: 'Poppins', sans-serif;
}
